*.m4
!attributes.m4
!ax_ac_append_to_file.m4
!ax_ac_print_to_file.m4
!ax_add_am_macro_static.m4
!ax_am_macros_static.m4
!ax_check_compile_flag.m4
!ax_check_gnu_make.m4
!ax_code_coverage.m4
!ax_compare_version.m4
!ax_file_escapes.m4
!ax_pthread.m4
!pkg.m4
