Language: Cpp
#BasedOnStyle: WebKit
#AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
#AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 100000
BinPackArguments: false
BinPackParameters: false
#BreakBeforeBinaryOperators: None
IndentWidth: 8
#PointerAlignment: Right
#SpacesInContainerLiterals: false
UseTab: ForIndentation
#TabWidth: 8
ColumnLimit: 80
