Checks: '-*,readability-identifier-naming'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
