BasedOnStyle: LLVM

AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true

AllowShortIfStatementsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Linux
IndentCaseLabels: false
IndentWidth: 8

UseTab: ForIndentation

# AfterFunction: true
#AlignAfterOpenBracket: true
#AlignEscapedNewlines: Right
#AllowShortBlocksOnASingleLine: false
#AlwaysBreakAfterReturnType: None
#BasedOnStyle: WebKit
#BraceWrapping:
#BreakBeforeBinaryOperators: None
#BreakBeforeBraces: Custom
#ColumnLimit: 80
#Language: Cpp
#PenaltyReturnTypeOnItsOwnLine: 100000
#SpacesInContainerLiterals: false
#TabWidth: 8
