*.a
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.so
*.trs
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te*.cache
confdefs.h
config.status
configure
coverage/
unit-test
integration-test
dqlite.pc
libtool
stamp-h*
