aclocal.m4
autom4te*.cache
configure
config.h*
confdefs.h
config.status
libtool
stamp-h*

Makefile
Makefile.in
.deps
.libs
.dirstamp

*.log
*.trs

*.o
*.a
*.so
*.lo
*.la

*.gcno
*.gcda
coverage/

dqlite-test
dqlite.pc
